.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: #080808;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #998dc0;
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.connected-button {
  background-color: #050505;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 40%;
  text-align: center;
}

.candidates-table th,
.candidates-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #070707;
}

.candidates-table th {
  background-color: #7f98a6;
}

input[type=number] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

.containerStyleLogin {
  background-image: url('../public/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.containerStyle {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/* CSS */
.handleInput {
  margin-top: 1rem;
  border: 2px solid #e74c3c;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.handleInput:focus {
  border-color: #000000; /* Border color on focus */
}







@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.containerStyleLogin {
  background-image: "url('..pulic/bg-image.jpg')";
  background-size: "cover";
  background-repeat: "no-repeat";
  text-align: "center";
}

.blinking-text {
  animation: blink 2s infinite;
  color: red;
}

/* styles.css */
/* styles.css */

